In [1]:
import pandas as pd

In [51]:
dates = [
    '2017-08-23',
    '2017-08-23',
    '2017-08-24',
    '2017-08-24',
    '2017-08-24',
    '2017-08-24',
    '2017-08-25',
    '2017-08-25',
    '2017-08-26',
    '2017-08-26'
]
time = [
    '19:28:13',
    '10:28:14',
    '10:28:15',
    '11:28:16',
    '12:28:13',
    '15:28:13',
    '16:28:13',
    '17:20:13',
    '17:28:13',
    '17:30:12'
]
files = [
    '/media/thumbnail/fd1140af02.jpg',
    '/media/thumbnail/8b527f7ca8.jpg',
    '/media/thumbnail/b2670bc44f.jpg',
    '/media/thumbnail/bdb3b41b8b.jpg',
    '/media/main.js',
    '/media/thumbnail/8124c8c648.jpg',
    '/media/thumbnail/2ab5f8593a.jpg',
    '/media/thumbnail/64f6312f93.jpg',
    '/media/thumbnail/458f99f4d3.jpg',
    '/media/style.css'
]
sizes = [
    13500,
    767,
    543,
    12345,
    2333,
    531,
    346,
    87,
    123,
    65
]
len(dates),len(time),len(files),len(sizes)

(10, 10, 10, 10)

In [58]:
cdns = pd.DataFrame({'date': dates, 'time':time, 'size':sizes, 'url':files})

In [59]:
cnds

         date      time   size                              url
0  2017-08-23  19:28:13  13500  /media/thumbnail/fd1140af02.jpg
1  2017-08-23  10:28:14    767  /media/thumbnail/8b527f7ca8.jpg
2  2017-08-24  10:28:15    543  /media/thumbnail/b2670bc44f.jpg
3  2017-08-24  11:28:16  12345  /media/thumbnail/bdb3b41b8b.jpg
4  2017-08-24  12:28:13   2333                   /media/main.js
5  2017-08-24  15:28:13    531  /media/thumbnail/8124c8c648.jpg
6  2017-08-25  16:28:13    346  /media/thumbnail/2ab5f8593a.jpg
7  2017-08-25  17:20:13     87  /media/thumbnail/64f6312f93.jpg
8  2017-08-26  17:28:13    123  /media/thumbnail/458f99f4d3.jpg
9  2017-08-26  17:30:12     65                 /media/style.css

In [60]:
cdns[cdns['date']>='2017-08-24']

         date      time   size                              url
2  2017-08-24  10:28:15    543  /media/thumbnail/b2670bc44f.jpg
3  2017-08-24  11:28:16  12345  /media/thumbnail/bdb3b41b8b.jpg
4  2017-08-24  12:28:13   2333                   /media/main.js
5  2017-08-24  15:28:13    531  /media/thumbnail/8124c8c648.jpg
6  2017-08-25  16:28:13    346  /media/thumbnail/2ab5f8593a.jpg
7  2017-08-25  17:20:13     87  /media/thumbnail/64f6312f93.jpg
8  2017-08-26  17:28:13    123  /media/thumbnail/458f99f4d3.jpg
9  2017-08-26  17:30:12     65                 /media/style.css

In [61]:
cdns[cdns['url'].str.endswith('jpg')].set_index(['date']).loc['2017-08-24':'2017-08-25']['size'].sum()

13852